body{
    columns: 2;
}
label{
    display:flex
}



    .madi{
        display: flex;
        flex-direction: column;
    }
    
    .kolby{
        display: flex;
        flex-direction: column;
    }